<!DOCTYPE html>
<html>
<head>
    <title>{% if form.instance.pk %}Modifier Ville{% else %}Nouvelle Ville{% endif %}</title>
</head>
<body>
    <h1>{% if form.instance.pk %}Modifier Ville{% else %}Nouvelle Ville{% endif %}</h1>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Accueil</a></li>
            <li><a href="{% url 'user_list' %}">Utilisateurs</a></li>
            <li><a href="{% url 'place_list' %}">Lieux</a></li>
            <li><a href="{% url 'review_list' %}">Avis</a></li>
            <li><a href="{% url 'amenity_list' %}">Commodités</a></li>
            <li><a href="{% url 'country_list' %}">Pays</a></li>
            <li><a href="{% url 'city_list' %}">Villes</a></li>
        </ul>
    </nav>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if form.instance.pk %}Modifier{% else %}Créer{% endif %}</button>
    </form>
    <a href="{% url 'city_list' %}">Retour à la liste des villes</a>
</body>
</html>
