<!DOCTYPE html>
<html>
<head>
    <title>{% if form.instance.pk %}Modifier Lieu{% else %}Nouveau Lieu{% endif %}</title>
</head>
<body>
    <h1>{% if form.instance.pk %}Modifier Lieu{% else %}Nouveau Lieu{% endif %}</h1>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Accueil</a></li>
            <li><a href="{% url 'user_list' %}">Utilisateurs</a></li>
            <li><a href="{% url 'place_list' %}">Lieux</a></li>
            <li><a href="{% url 'review_list' %}">Avis</a></li>
            <li><a href="{% url 'amenity_list' %}">Commodités</a></li>
            <li><a href="{% url 'country_list' %}">Pays</a></li>
            <li><a href="{% url 'city_list' %}">Villes</a></li>
        </ul>
    </nav>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_name">Nom:</label>
            {{ form.name }}
        </div>
        <div>
            <label for="id_description">Description:</label>
            {{ form.description }}
        </div>
        <div>
            <label for="id_address">Adresse:</label>
            {{ form.address }}
        </div>
        <div>
            <label for="id_city">Ville:</label>
            <select name="city" id="id_city">
                {% for city in form.fields.city.queryset %}
                    <option value="{{ city.id }}" {% if city.id == form.initial.city %}selected{% endif %}>{{ city.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="id_latitude">Latitude:</label>
            {{ form.latitude }}
        </div>
        <div>
            <label for="id_longitude">Longitude:</label>
            {{ form.longitude }}
        </div>
        <div>
            <label for="id_host">Hôte:</label>
            {{ form.host }}
        </div>
        <div>
            <label for="id_number_of_rooms">Nombre de chambres:</label>
            {{ form.number_of_rooms }}
        </div>
        <div>
            <label for="id_number_of_bathrooms">Nombre de salles de bains:</label>
            {{ form.number_of_bathrooms }}
        </div>
        <div>
            <label for="id_price_per_night">Prix par nuit:</label>
            {{ form.price_per_night }}
        </div>
        <div>
            <label for="id_max_guests">Nombre maximal d'invités:</label>
            {{ form.max_guests }}
        </div>
        <div>
            <label for="id_amenities">Commodités:</label>
            {{ form.amenities }}
        </div>
        <button type="submit">{% if form.instance.pk %}Modifier{% else %}Créer{% endif %}</button>
    </form>
    <a href="{% url 'place_list' %}">Retour à la liste des lieux</a>
</body>
</html>
