<!DOCTYPE html>
<html>
<head>
    <title>Liste des lieux</title>
</head>
<body>
    <h1>Liste des lieux</h1>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Accueil</a></li>
            <li><a href="{% url 'user_list' %}">Utilisateurs</a></li>
            <li><a href="{% url 'place_list' %}">Lieux</a></li>
            <li><a href="{% url 'review_list' %}">Avis</a></li>
            <li><a href="{% url 'amenity_list' %}">Commodités</a></li>
            <li><a href="{% url 'country_list' %}">Pays</a></li>
            <li><a href="{% url 'city_list' %}">Villes</a></li>
        </ul>
    </nav>
    <ul>
        {% for place in places %}
            <li>
                <a href="{% url 'place_detail' place.pk %}">{{ place.name }}</a>
                (<a href="{% url 'place_update' place.pk %}">Modifier</a> | <a href="{% url 'place_delete' place.pk %}">Supprimer</a>)
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'place_create' %}">Créer un nouveau lieu</a>
</body>
</html>
