<!DOCTYPE html>
<html>
<head>
    <title>Liste des avis</title>
</head>
<body>
    <h1>Liste des avis</h1>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Accueil</a></li>
            <li><a href="{% url 'user_list' %}">Utilisateurs</a></li>
            <li><a href="{% url 'place_list' %}">Lieux</a></li>
            <li><a href="{% url 'review_list' %}">Avis</a></li>
            <li><a href="{% url 'amenity_list' %}">Commodités</a></li>
            <li><a href="{% url 'country_list' %}">Pays</a></li>
            <li><a href="{% url 'city_list' %}">Villes</a></li>
        </ul>
    </nav>
    <ul>
        {% for review in reviews %}
            <li>
                <a href="{% url 'review_detail' review.pk %}">{{ review.comment }}</a>
                (<a href="{% url 'review_update' review.pk %}">Modifier</a> | <a href="{% url 'review_delete' review.pk %}">Supprimer</a>)
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'review_create' %}">Créer un nouvel avis</a>
</body>
</html>
